$bg-color: white;
$header-bg-color: #ededed;
$dark-gray-text-color: #747474;
$light-gray-color: #a0a0a0;
$green-color: #65c660;
$light-green-color: #7bce77;
$menu-font-size: 22px;

$photo-width: 300px;
$photo-height: 200px;

$login-header-transition-delay: 0.3s;
