@import 'definitions.scss';

//------------------- Footer -----------------//

footer {
    /*position: absolute;
    bottom: 0px;*/
}

#links {
    margin: 10px;
}

#links a {
    margin-right: 10px;
}
