@import 'definitions.scss';

//------------------- Main ------------------//

#photo-container {
    margin: 25px;
    text-align: center;

    min-height: 80vh;
}

//------------------- Photo -----------------//

.photo {
    display: inline-block;
    position: relative;

    cursor: pointer;

    width: $photo-width;
    height: $photo-height;
    margin: 10px;

    background-color: $green-color;

    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px;

    transition: box-shadow 0.2s ease-in-out;

    overflow: hidden;
}

.photo:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 15px 20px;
}

.photo-info {
    position: absolute;

    width: $photo-width;
}

.photo-likes, .photo-comments, .photo-author {
    position: absolute;
    top: 5px;

    color: white;
}

.photo-likes {
    left: 5px;
}

.photo-comments {
    top: 25px;
    left: 5px;
}

.photo-author {
    right: 5px;
}

.author-photo-link {
    color: white;
}

.author-photo-link:hover {
    text-decoration: underline;
}

.photo-wrapper {

}

.photo-image {
    max-height: $photo-height;
}

.show-info {
    display: block;
    opacity: 1;
}

.hide-info {
    display: none;
}
