#actions-wrapper {
    margin: 20px;

    #add-photo{
        width: 200px;
    }
}

#add-photo-wrapper {
    margin: 20px;
}

#user-wrapper {
    
    table {
        margin: 20px;

        td {
            padding: 0px;
        }
    }

    #profile-photo-wrapper {
        margin-right: 20px;

        #profile-photo {
            max-height: 300px;
            max-width: 200px;
        }
    }

    #user-photos-wrapper{

    }

    #user-photo {
        position: relative;
        display: inline-block;

        max-width: 200px;
        max-height: 200px;

        background-color: red;

        margin: 10px;

        img {
            max-width: 200px;
            max-height: 200px;
        }
    }
}
