@using Photocom.Models.Entities.Database
@model Photocom.Presentation.ViewModels.HomeViewModel
@{
    Layout = "~/Views/_Layout.cshtml";
}

@section Scripts {

}

@section Styles {
    @Styles.Render("~/Styles/photo.css")
}

<div id="photo-container" class="clear-both">
    @foreach (Photo photo in Model.Photos)
    {
        @Html.Partial("~/Views/Partial/Photo.cshtml", photo)
    }

</div>