<div id="log-in-wrapper">
    <h2>Log-in as existing user</h2>
    <input type="text" placeholder="Login" id="tb-login" />
    <br />
    <input type="password" placeholder="Password" id="tb-pass" />
    <br />
    <div id="login-btn-wrapper">
        <input type="submit" value="Login" id="login-btn" />
    </div>

    <div id="login-links">
        <a href="#" class="dark-link" id="forgot-passwd">Forgot password</a>
        <a href="#" class="dark-link" id="sign-up">Sign-up</a>
    </div>
</div>
