<form class="green-form" id="auth-form">
    <div id="sign-up-wrapper">
        <h2>Create new account</h2>
        <input type="text" placeholder="Login" id="tb-login" />
        <br />
        <input type="text" placeholder="First name" id="tb-first-name" />
        <br />
        <input type="text" placeholder="Last name" id="tb-last-name" />
        <br />
        <input type="text" placeholder="Email" id="tb-email" />
        <br />
        <input type="password" placeholder="Password" id="tb-pass" />
        <br />
        <input type="password" placeholder="Confirm password" id="tb-pass-confirm" />
        <br />
        <textarea placeholder="About yourself" id="ta-about"></textarea>

        <div id="login-btn-wrapper">
            <input type="submit" value="Sign-up" id="login-btn" />
        </div>
    </div>
</form>